* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&display=swap");

/* CSS */

.todo-app {
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 20px;
  font-family: "Rubik", sans-serif;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  gap: 5px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-button:hover {
  background-color: #0056b3;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  background-color: #f4f4f4;
  padding: 1rem 1rem;
  margin: 10px 0;
  border: 2px solid #ccc;
  width: 35rem;
  border-radius: 2rem;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-item:hover {
  scale: 1.05;
}

.todo-item h2 {
  font-weight: 500;
  margin: 0;
  font-size: 1.1rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.done {
  background-color: #0a6ebd;
  border: 2px solid white;
  color: white;
}

.done h2 {
  text-decoration: line-through;
}

.enable-input {
  padding: 0.3rem 0.75rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}

.updateBtn {
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  border: none;
  background-color: #007bff;
  color: #f4f4f4;
  cursor: pointer;
  margin-left: 0.5rem;
}

@media screen and (max-width: 450px) {
  .todo-app {
    height: 100vh;
  }

  .todo-form {
    margin-top: 3rem;
  }
  .add-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .todo-item {
    width: 23rem;
  }

  .enable-input {
    width: 8rem;
  }
}

.no {
  color: #ccc;
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with full transparency */
    transform: translateY(20px); /* Move the element down by 20 pixels */
  }
  100% {
    opacity: 1; /* End with full visibility */
    transform: translateY(0); /* Return the element to its original position */
  }
}

/* Apply the animation to the element you want to fade in */
.fade-in-element {
  animation: fadeIn 0.5s ease-in; /* Adjust the duration and timing function as needed */
}

.fade-in-element2 {
  animation: fadeIn 0.6s ease-in; /* Adjust the duration and timing function as needed */
}

.fade-in-element3 {
  animation: fadeIn 0.7s ease-in; /* Adjust the duration and timing function as needed */
}
