@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Rubik", sans-serif;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

.pass-container {
  grid-template-columns: 1.3fr 1fr;
}

.pass-image {
  background-image: linear-gradient(to right bottom, #937af9, #191d88);
}

.pass-image2 {
  background-image: linear-gradient(to right bottom, #7091f5, #793fdf);
}

.pass-image3 {
  background-image: linear-gradient(to right bottom, #504099, #313866);
}

.pass-image4 {
  background-image: linear-gradient(to right bottom, #7091f5, #35155d);
}

.pass-image5 {
  background-image: linear-gradient(to right bottom, #8ecddd, #4d2db7);
}

.cool-link {
  transition: all 0.3s;
  background: linear-gradient(to right, rgb(9, 9, 9), rgb(0, 0, 0)),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.cool-link:focus {
  background-size: 0 2px, 100% 2px;
}
