.pass-container {
  grid-template-columns: 1.3fr 1fr;
}

.pass-image {
  background-image: linear-gradient(to right bottom, #937af9, #191d88);
}

.pass-image2 {
  background-image: linear-gradient(to right bottom, #7091f5, #793fdf);
}

.pass-image3 {
  background-image: linear-gradient(to right bottom, #504099, #313866);
}

.pass-image4 {
  background-image: linear-gradient(to right bottom, #7091f5, #35155d);
}

.pass-image5 {
  background-image: linear-gradient(to right bottom, #8ecddd, #4d2db7);
}

.both-in {
  display: flex;
  gap: 0.5rem;
}

.cool-link {
  transition: all 0.3s;
  background: linear-gradient(to right, rgb(9, 9, 9), rgb(0, 0, 0)),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.cool-link:focus {
  background-size: 0 2px, 100% 2px;
}

.icon-p {
  font-size: 1.5rem;
}

.icon-s {
  font-size: 2.5rem;
}

.icon-m {
  font-size: 0.9rem;
}

.g-btn {
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  transition: all 0.3s;
  border: 2px solid white;
}

.g-btn:hover {
  transform: translateY(-7px);
  background-color: white;
  color: black;
  border: 2px solid black;
}

.main-page-log {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
